.navbar {
    width: 100%;
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.logo {
    background-color: red;
}
.links {
    background-color: #fff;
    width: 70%;
    display: flex;
    gap: 2%;
}
